{% extends 'core/base.html' %}
{% block content %}
All posts:
<ul>
{% for obj in object_list %}
            <a href="{{ post.get_absolute_url }}obj">{{ obj.title }}</a>
            | {{ obj.author_name }}
            | {{ obj.created }}
            {% with total_likes=obj.users_like.count users_like=obj.users_like.all %}
            |    likes: {{ total_likes }}
            {% endwith %}
    <br>
{% endfor %}
</ul>
<a href="{% url 'posts:create' %}">create post</a>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

