{% extends 'core/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<ul>
    <ol>Title: {{ object.title }}</ol>
    {% if object.image %}
    <ol>Image: <img src="{{ object.image.url }}"></ol>
    {% endif %}
    <ol>Content: {{ object.content }}</ol>
    <ol>Slug: {{ object.slug }}</ol>
    <ol>Created: {{ object.created }}</ol>
    <ol>Updated: {{ object.updated }}</ol>
    <ol>Author name: {{ object.author_name }}</ol>

    {% with total_likes=object.like.count like=object.like.all total_dislikes=object.dislike.count %}
        <ol>Likes: {{ total_likes }}</ol>
        <ol>Dislikes: {{ total_dislikes }}</ol>


    <form action="." method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
            {% if user in object.like.all %}
                <button class="btn btn-light" name="action" value="like">Like</button>
            {% else %}
                <button class="btn btn-success" name="action" value="like">Like</button>
            {% endif %}
            {% if user in object.dislike.all %}
                <button class="btn btn-light" name="action" value="dislike">Dislike</button>
            {% else %}
                <button class="btn btn-danger" name="action" value="dislike">Dislike</button>
            {% endif %}
        </div>
        <input type="hidden" name="post_id" value="{{ object.id }}">
        <input type="hidden" name="current" value="{{ request.get_full_path }}">
    </form>




    {% endwith %}
<hr>
    {{ object.tags.all|join:", " }}
<hr>
</ul>
{% for comment in comments %}
    comment: {{ comment.content|linebreaks }}
    author: {{ comment.user|linebreaks }}
    {% for replay in comment.replies.all %}
        <p class="info">{{ replay.title }} | {{ replay.created }}</p>
        <li>{{ replay.content }}</li>
    {% endfor %}
        <h5>Replay</h5>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="action" value="comment">
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input class="btn btn-primary" type="submit" value="Replay">
            </form>
{% empty %}
    No comments yet.
{% endfor %}
<p>Leave comment</p>
<form method="post" enctype="multipart/form-data">
 {{ comment_form.as_p }}
 {% csrf_token %}
 <input type="submit" value="Post it!">
</form>



{% endblock %}