<!DOCTYPE html>
{% load nav_tags %}
{% load static %}
{% load cache %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
{% include 'core/includes/navigation.html' %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
        <div class="col-10">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-2">
            <div>
                {% cache 600 featured_post_contents featured_post %}
                    {% featured_post %}
                {% endcache %}
            </div>
            <div>
                {% cache 600 latest_posts_contents latest_posts %}
                    {% latest_posts %}
                {% endcache %}
            </div>
            <div>
                {% cache 600 most_viewed_post_contents most_viewed_post %}
                    {% most_viewed_post %}
                {% endcache %}
            </div>
        </div>
    </div>
  </div>
</main>
{% include 'core/includes/footer.html' %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        {% block domready %}
        {% endblock %}
    });
</script>
</body>
</html>