{% extends "core/base.html" %}
{% load thumbnail %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
<h1>{{ user }}</h1>
       <img src="{% thumbnail user.profile.photo 180x180 %}">
     {% with total_followers=user.followers.count %}
         <span>{{ total_followers }}</span>
         follower{{ total_followers|pluralize }}
        {% if request.user != user %}
            <form action="." method="post">
                {% csrf_token %}
                <button class="btn btn-{% if request.user in user.followers.all %}light{% else %}success{% endif %}" name="action" value="{% if request.user in user.followers.all %}un{% endif %}follow">
                    {% if request.user not in user.followers.all %}
                        Follow
                    {% else %}
                        Unfollow
                    {% endif %}
                </button>
                <input type="hidden" name="user_id" value="{{ user.id }}">
            </form>
        {% endif %}
     {% endwith %}
    {% for follower in followers %}
        <a href="{{ follower.user_from.get_absolute_url }}">
            <img src="{% thumbnail follower.user_from.profile.photo 180x180 %}">
        </a>
        <a href="{{ follower.user_from.get_absolute_url }}" class="title">
            {{ follower.user_from.get_full_name }}
        </a>
    {% endfor %}
    <br>
    Contacts log:<br>
    {% for follower in followers %}
        <hr>
        <a href="{{ follower.user_from.get_absolute_url }}">{{ follower.user_from }}</a>
        start follow
        <a href="{{ follower.user_to.get_absolute_url }}">{{ follower.user_to }}</a>
        since {{ follower.created }}
    {% endfor %}
    <hr>
{% endblock %}